.chart {
    height: 300px;

    &--fullscreen {
        height: 500px;
    }
}

.work-day-row {
    &__date-col {
      background: rgba(0,0,0,0.05);
      padding: 1rem;
    }
    &__work-units-col {
        background: rgba(0,0,0,0.025);
        padding: 1rem;
        @include graph-bg;
    }
  
  }
